# PyCity Schools Analysis

*some words here

*some words here(2)

*some words here(3)

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#combine DataFrames
complete_data = pd.merge(student_data,school_data, how="left", on=["school_name","school_name"])
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
complete_data.to_csv("complete_df.csv")

## District Summary

In [9]:
#total number of school
school_count = complete_data['School ID'].nunique()
school_count

15

In [15]:
#total number of students
student_count = complete_data['Student ID'].nunique()
student_count

39170

In [42]:
#total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [44]:
# average (mean) math score
avg_math_score = complete_data['math_score'].mean()
avg_math_score

78.98537145774827

In [45]:
# average (mean) reading score
avg_read_score = complete_data['reading_score'].mean()
avg_read_score

81.87784018381414

In [48]:
#calculate percent of students who are passing math
passing_math_count = complete_data[(complete_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [49]:
passing_read_count = complete_data[(complete_data["reading_score"] >= 70)].count()["student_name"]
passing_read_percentage = passing_read_count / float(student_count) * 100
passing_read_percentage

85.80546336482001

In [76]:
#percentage of students that passed both math and reading
passing_math_reading_count = complete_data[
    (complete_data["math_score"] >= 70) & (complete_data["reading_score"] >= 70)
    ].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [77]:
type(student_count)

int

In [81]:
district_summary = pd.DataFrame({"Total Schools":[school_count],"Total Students":[student_count],
          "Total Budget":[total_budget],"Average Math Score":[avg_math_score],
          "Average Reading Score":[avg_read_score],"% Passing Math":[passing_math_percentage],
          "% Passing Reading":[passing_read_percentage],"% Overall Passing":[overall_passing_rate]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

## Highest-Performing Schools (by % Overall Passing)

## Lowest-Performing Schools (by % Overall Passing)

## Math Scores by Grade

## Reading Scores by Grade

## Scores by School Spending

## Scores by School Size

## Scores by School Type